.Profile {
  padding: 1em .5em;
  margin: 3em 0;

  .profile-meta {
    text-align: center;

    .profile-avatar {
      border-radius: 50%;
      width: 95px;
      height: 95px;
      overflow: hidden;
      position: relative;
      left: 50%;
      margin-left: calc(95px / #{-2});
      cursor: pointer;
      pointer-events: all;

      img {
        width: 100%;
        border-radius: 50%;
      }

      span {
        opacity: 0;
        background: rgba($primary-dark, .75);
        color: $primary-light;
        display: block;
        position: absolute;
        left: 0;
        width: 100%;
        bottom: 0;
        padding: 7px;
      }

      &:hover {
        span {
          opacity: 1;
        }
      }
    }

    .since {
      display: block;
      padding: .25em;
      margin: 10px 0;
    }
  }

  .Details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .Avatar {
      flex: 1;
      padding: 1em;
      position: relative;
      margin: 2.5em 0;
      width: 200px;
      height: 200px;
      @include separators();

      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        display: block;
      }
    }
  }

  .line-title {
    margin: 2.5em 0;
    position: relative;
    text-align: center;
    width: 200px;
    left: 50%;
    margin-left: -100px;
    @include separators();
  }
  
  .grayed {
    color: #868686;
  }
}

.overlay-wrapper {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: 100%;

  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(255,255,255, .7);
  }
  
  .blurry {
    position: fixed;
    width: 100%;
    height: 100%;
    @include blur(32px);
  }

  .background-overlay {
    width: 100%;
    height: 100%;
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
  }
}

.Comments {

  .comments-list {
    padding: 0 !important;
    margin-left: 0;
    clear: both;
    list-style: none;
  }

  .comment-item {
    position: relative;
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .avatar {
    width: 70px;
    float: left;
    padding: 3px;
    margin-right: 10px;

    img {
      width: 100%;
      border-radius: 50%;
    }
  }

  .details {
    float: left;
    line-height: 25px;
    width: calc(99.99% - 100px);
    padding: 0 10px;
    margin: 8px 0;

    .meta {
      padding: 3px;
    }

    .body {
      z-index: 99;
    }
  }
}