/*
 * Font
*/
$font: "Avenir Next", "PingFang SC", "Helvetica Neue", "微软雅黑", "Microsoft Yahei", sans-serif;

/*
 * Colors
*/
$primary-dark:        #161616;
$primary-light:       #fff;
$primary-light-hover: #ee8900;

$carousel-height: 500px;

$admin-sidebar-width: 220px;