.Utilities {
  position: fixed;
  right: 20px;
  bottom: 100px;

  .back-top {
    top: 0;
    font-size: 1.88em;
  }

  .unit {
    cursor: pointer;
    z-index: 10000;
    position: absolute;
    right: 20px;
    width: 38px;
    height: 38px;
    background: #eee;
    border-radius: 3px;
    text-align: center;
    color: #555;
    @include ts();

    &.hide {
      -webkit-transform: scale3d(0,0,0);
      -moz-transform: scale3d(0,0,0);
      transform: scale3d(0,0,0);
      display: block !important;
    }
  }
}

@media (max-width: 500px) {
  .Utilities {
    display: none;
  }
}