.section-title {
  margin: 0 0 50px 20px;
  padding: 20px 5px;
  border-bottom: 1px dashed rgba(0,0,0, .2);
  position: relative;

  .more {
    position: absolute;
    right: 10px;
    top: 50%;
    font-size: 1.25em;
    vertical-align: baseline;
  }
}

.post {
  > a {
    display: block;
  }

  &.video-post {
    @extend .col-md-4, .col-sm-6;
    margin: 10px 0;

    .cover {
      position: relative;
    }

    .thumbnail-wrapper {
      @include ts(all ease-in-out .35s);
    }

    .thumbnail {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 6px;
      overflow: hidden;
      width: 100%;
      height: 260px;
      border: none;
      position: relative;
      
      &:before {
        display: block;
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.35);
        @include ts();
      }
    }

    .play-icon {
      &:before {
        font-family: "FontAwesome";
        content: '\f144';
        display: block;
        font-size: 5em;
        position: absolute;
        text-align: center;
        vertical-align: middle;
        color: #eee;
        line-height: 260px;
        left: 50%;
        bottom: 0;
        margin-left: -30px;
        opacity: .01;
        @include ts();
      }
    }

    .post-title {
      text-align: center;
      font-weight: bold;
      margin: 1.8em 1em;
    }
    
    &:hover {
      .thumbnail-wrapper {
        -webkit-filter: blur(8px);
        filter: blur(8px);
      }

      .thumbnail {
        &:before {
          opacity: .85;
        }
      }

      .play-icon:before {
        opacity: .8;
      }
    }
  }
}

.Post {
  margin: 1em 0;
  padding: .5em;

  &.Post--product {
    padding-bottom: 10em;

    .product-image {
      width: 75%;
      left: calc(25% / 2);
      position: relative;

      img {
        width: 100%;
        padding: 1.5em;
      }
    }

    .Product-Actions {
      display: flex;
      justify-content: center;
      align-items: center;

      .buy-btn {
        display: inline-block;
        width: 160px;
        padding: .75em 1.35em;
        margin: .2em .5em;
        font-weight: 600;
        font-size: 1.1em;
        border-radius: 5px;
        text-align: center;
        pointer-events: none; // For demo only
        cursor: pointer;
      }
      
      .confirm-buy {
        background: #51b384;
        color: #fff;
      }

      .add-to-cart {
        background: #c40000;
        color: #fff;
      }
    }

    .product-metas {
      clear: both;
      padding: 2.5em 0 3em;

      &:before, &:after {
        display: table;
        content: '';
        clear: both;
      }

      span {
        font-weight: 500;
      }
    }
  }

  .Title {
    margin-bottom: 25px;

    .pull-right {
      margin-top: 5px;
    }

    h2, h3 {
      display: inline-block;
    }
    
    .price {
      color: #51b384;
    }

    span {
      color: #999;
      margin-left: 1em;
    }
  }

  .Meta {
    .post-metas {
      list-style: none;
      margin: 0 .8em;
    }
  }

  ul {
    list-style: none;
  }

  .Right {
    @extend .pull-right;
    line-height: 51px;

    li {
      display: inline-block;
      margin: 0 .25em;
      color: #888;
    }
  }

  .Author {
    display: inline-block;
    line-height: 50px;
    vertical-align: middle;

    img {
      width: 50px;
      height: 50px;
    }

    a {
      font-size: 1.1em;
      font-weight: 500;
    }
  }

  .Inner {
    padding: 1.5em 1em;

    article {
      font-size: 16px;
      line-height: 1.8em;
      margin-top: 20px;
      overflow: hidden;

      img, iframe {
        max-width: 100%;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0,0,0,.12);
      }
    }
  }

  .Actions {
    line-height: 51px;
    position: relative;

    a {
      font-size: 1.15em;
    }
  }

  .Related {
    clear: both;

    .Related-post {
      position: relative;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 300px;
      border-radius: 6px;
      overflow: hidden;
      margin: .85em 0;

      .title {
        position: absolute;
        bottom: 0;
        background: linear-gradient(to bottom, transparent, rgba($primary-dark, .7));
        padding: 1.5em 0 .5em;
        width: 100%;
      }

      h4 {
        text-align: center;
        color: #fff;
      }
    }
  }

  .Comments {
    clear: both;
    padding: 2em 0;
  }
}

.avatar {
  border-radius: 50%;
}

.Posts {
  .post-type {
    margin-left: 1em;
    padding: .2em .5em;
    border-radius: 5px;
    font-weight: 500;

    &[post-type=文章] {
      background: #eee;
      color: #337ab7;
    }

    &[post-type=视频] {
      background: #2f8fee;
      color: #fff;
    }
  }
}

.posts-list {
  list-style: none;
  padding: .5em 0;

  li {
    line-height: 60px;
    vertical-align: middle;
    position: relative;

    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 0;
      border: 1px solid rgba(0,0,0,.1);
    }
    
    a {
      display: block;
    }
  }

  .title {
    font-size: 1.2em;
    color: #333;
    font-weight: 600;
  }

  .author, .views {
    margin: 0 .6em;
    color: #777;
    font-weight: 500;
  }

  time {
    color: #aaa;
  }
}

.Tags {
  clear: both;

  .tag-list {
    list-style: none;
    padding: 15px 0;

    &:before, &:after {
      display: table;
      content: '';
      clear: both;
    }

    li {
      float: left;
      margin-left: 25px;
      background: #4CA927;
      margin-top: 1em;
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;
      position: relative;

      a {
        width: 100%;
        display: block;
        color: #fff;
        padding: 2.5px 10px;
        font-weight: 500;
      }

      &:before {
        position: absolute;
        content: '';
        display: block;
        width: 0;
        height: 0;
        border: 12.5px solid transparent;
        border-right-color: #4CA927;
        left: -24px;
        top: 0;
      }

      &:after {
        position: absolute;
        content: '';
        display: block;
        width: 4px;
        height: 4px;
        background-color: #fff;
        left: -2px;
        top: 10px;
        border-radius: 4px;
      }
    }
  }
}

.Video {
  clear: both;
  padding: 1em 0;

  video {
    max-width: 100%;
    width: 100%;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    border-radius: 5px;
  }
}