.product-list {
  margin: 1em 0;
  background: #fff;

  .product-item {
    @extend .col-md-3, .col-sm-4, .col-xs-6;
    margin: 1.65em 0;
    padding: .8em;
    border: none;
    border-radius: 6px;
    @include ts();

    &:nth-child(4n) {
      clear: right;
    }

    &:nth-child(4n + 1) {
      clear: left;
    }

    &:hover {
      box-shadow: 0 0 2px $primary-light-hover;

      .thumbnail {
        &:before, &:after {
          opacity: 1 !important;
        }
      }
    }

    .thumbnail {
      position: relative;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 4px;
      overflow: hidden;
      width: 100%;
      height: 200px;
      border: none;

      &:before, &:after {
        position: absolute;
        left: 0;
        top: 0;
        display: block;
      }

      &:before {
        width: 100%;
        content: '';
        height: 100%;
        background: rgba(0,0,0,0.7);
        opacity: 0;
        @include ts();
      }

      &:after {
        width: 100%;
        line-height: 200px;
        color: #eee;
        content: '> 查看商品 <';
        font-size: 1.25em;
        text-align: center;
        opacity: 0;
        @include ts();
      }
    }

    .product-name {
      margin: .8em 0;
      span {
        font-size: 1.12em;
        font-weight: 500;
      }
    }

    .product-price {
      font-size: 1.25em;
      color: #111;
      display: block;
      clear: both;
      margin-bottom: 1.2em;
      font-weight: 500;

      &:before {
        display: inline-block;
        content: '￥';
      }
    }

    .product-inventory {
      float: left;
      color: #ff2f54;
      font-weight: bold;
    }

    .product-date {
      float: right;
    }

    time {
      color: #a9a9a9;
    }
  }
}