.Admin {
  @extend .container;

  .title {
    padding: 1.2em .5em;
    margin-top: -35px;
  }

  .Container {
    width: calc(100% - #{$admin-sidebar-width} - 30px);
    margin: 2.5em 15px;
    float: left;
    padding: 1.5em .5em;
  }

  .Overview {
    box-shadow: 0 0 2px -5px rgba(0,0,0, .35);
    background: #f8f8f8;
    position: relative;
    border-radius: 4px;
    border: none !important;

    .overview-content {
      position: relative;
      padding: 20px;
    }

    .overview-title {
      float: left;
      margin-top: 5px;

      .counter {
        font-size: 28px;
        margin-bottom: 14px;
        color: #374051;
        font-weight: 500;
      }

      span {
        display: block;
        font-size: 14px;
        margin-bottom: 10px;
        color: #B0B0B0;
        font-weight: bold;
      }
    }

    .overview-icon {
      float: right;

      i {
        font-size: 31px;
        color: #B0B0B0;
      }
    }
  }
}

.Table {
  td {
    line-height: 45px !important;
    border-top: 1px dashed #e3e3e3 !important;
  }
}

.Form {
  position: relative;

  .form-group {
    position: relative;

    &.has-error .form-control {
      border: 2px solid #a94442 !important;
    }
  }

  .form-control {
    border: 1px solid rgba(0,0,0,.1);
    padding: .5em .6em;
    height: auto;

    &.important {
      padding: .7em;
      font-size: 1.1em;
      font-weight: 600;
    }
  }

  .control-label {
    &[required] {
      &:before {
        content: '*';
        display: inline-block;
        margin: 0 .4em;
        color: red;
        font-size: 1.1em;
        font-weight: bold;
      }
    }
  }

  .confirm-button {
    padding: 1em;
    font-weight: bold;
    clear: both;
    border: none !important;
    outline: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    width: 100%;
    max-width: 100%;

    &:hover {
      background: $primary-dark;
      color: #eee;
    }
    
    &.delete, &.delete:hover {
      background: #d84944;
      color: #eee;
      margin: -.7em 0;
    }
  }
}

.shaky {
  @include am(shake ease-in-out .7s backwards);
}


@keyframes shake {
  from, to {
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-12px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    transform: translate3d(12px, 0, 0);
  }
}