.posts-table {

  .post-type {
    margin-left: 1em;
    padding: .2em .5em;
    border-radius: 5px;
    font-weight: 500;

    &[post-type=文章] {
      background: #eee;
      color: #337ab7;
    }

    &[post-type=视频] {
      background: #2f8fee;
      color: #fff;
    }
  }
}

.table {
  .edit-btn, .delete-btn {
    margin-left: 15px;
    outline: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    border: none;

    i {
      font-size: 1.4em;
    }
  }
  
  .delete-btn {
    i {
      color: #f25656;
    }
  }
}